<!-- adding data-id attribute -->
<div class="panel panel-default" data-id="<%= task.id %>">
  <div class="panel-heading">
    <h3 class="panel-title"><%= task.title %></h3>
  </div>
  <div class="panel-body">
    <%= truncate task.description, length: 50 %>
  </div>
</div>